<!-- <div class="container alert mt-5 alert-light p-5">
  <h1>Two Way Binding</h1>

  <input
    type="text"
    name="searchWord"
    placeholder="Enter Your Data"
    class="form-control mb-4"
    (input)="getInputValue($event)"
  />
  <p class="lead fs-3">Data :{{ data }}</p>
</div> -->
<div class="container alert mt-5 alert-light p-5">
  <h1>Two Way Binding</h1>

  <input
    type="text"
    name="searchWord"
    placeholder="Enter Your Data"
    class="form-control mb-4"
    [(ngModel)]="data"
  />
  <p class="lead fs-3">Data : {{ data }}</p>
</div>
