<section>
  <h2>Content Section</h2>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore iure dolor
    commodi quae doloremque aliquam tempore maiores fuga esse autem sequi
    necessitatibus, rerum quas voluptatum accusantium ipsum molestias sit?
    Autem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore iure dolor
    commodi quae doloremque aliquam tempore maiores fuga esse autem sequi
    necessitatibus, rerum quas voluptatum accusantium ipsum molestias sit?
    Autem.
  </p>
</section>
