<div class="container mt-5 alert alert-primary p-5">
  <h1>Home Page</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid eos
    necessitatibus dolor soluta quam neque ex impedit facilis eligendi maiores
    hic obcaecati ea sequi aliquam, inventore, magnam laborum! Eum, nam.
  </p>
  <p class="lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid eos
    necessitatibus dolor soluta quam neque ex impedit facilis eligendi maiores
    hic obcaecati ea sequi aliquam, inventore, magnam laborum! Eum, nam.
  </p>
  <button class="btn btn-dark">Show More</button>
</div>
